li{
    color : white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px 30px 30px 20px;
    margin-left: 130px;
    margin-top: -13px;
    

}

header{
    height:64px;
    background-color: black;
    list-style-type: none;
    margin :0px;
    display: flex;
 }          
 .a-123 a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.a-123 a:hover {
    color:rgb(19, 208, 19);
    cursor: pointer;
}